* {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--font-main-color);
}

:root {
    --container-main-color: #171717;
    --subcontainer-main-color: #404040;
    --subcontainer-secondary-color: #262626;
    --container-alt-color: #d97706;
    --font-main-color: #fafafa;
    --transition-main: all .35s ease-in-out;
    --shadow-main: var(--container-main-color) 0px 19px 38px,  var(--container-main-color) 0px 15px 12px;
    --shadow-alt: var(--container-main-color) 4px 4px 20px;
}

.container {
    background-color: var(--subcontainer-secondary-color);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        'header header header'
        'nav content content'
        'nav content content'
        'footer footer footer';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1fr 80px;
    gap: 1rem;
}

/*** Header Styling ***/

.header {
    grid-area: header;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    padding: 2rem 1.5rem;
    box-shadow: var(--shadow-alt);
    margin: 1rem .5rem 0 .5rem;
    background-color: var(--container-main-color);
    border-bottom: 2px solid var(--font-main-color);
}

.site-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.site-header-wrapper img {
    height: 48px;
    width: 48px;
}

.site-header-wrapper h1 {
    letter-spacing: .2rem;
    color: var(--container-alt-color);
}

/*** Nav Styling ***/

.side-nav {
    grid-area: nav;
    background-color: var(--subcontainer-secondary-color);
    box-shadow: var(--shadow-alt);
    margin-left: .5rem;
    border-bottom: 2px solid var(--font-main-color);
    overflow:scroll;
}

.nav-links, .project-links {
    display: flex;
    flex-direction: column;
}

.side-nav li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    letter-spacing: .1rem;
    transition: var(--transition-main);
}

.side-nav li.active {
    background-color: var(--subcontainer-main-color);
    border-bottom: 2px solid var(--container-alt-color);
}

.side-nav li:hover {
    cursor: pointer;
    background-color: var(--subcontainer-main-color);
    border-bottom: 2px solid var(--container-alt-color);
}

.side-nav h2 {
    padding: 1.5rem 1.25rem;
    letter-spacing: .1rem;
    background-color: var(--container-main-color);
    border-bottom: 2px solid var(--font-main-color);
}

.side-nav img {
    filter: invert(47%) sepia(99%) saturate(1654%) hue-rotate(6deg) brightness(92%) contrast(95%);
    height: 2rem;
    width: 2rem;
}

.side-nav #add-project {
    width: 2rem;
    height: 2rem;
}

.side-nav .project-links .remove-project {
    height: 15px;
    width: 15px;
    transition: var(--transition-main);
    margin-left: 4rem;
}

.side-nav .project-links .remove-project:hover {
    transform: scale(1.25);
}

.navigation #add-project-link {
}

/* add project modal styling */

.add-project-modal {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    width: 95%;
    height: 100px;
    overflow: scroll;
    position: relative;
    right: -.5rem;
    box-shadow: var(--shadow-alt);
}

.project-name-input {
    grid-column: 1 / -1;
    appearance: none;
    outline: none;
    border: 1px solid var(--subcontainer-main-color);
    background-color: var(--subcontainer-main-color);
    font-size: 1.3rem;
    padding-left: 1rem;
    border-radius: 8px;
}

.project-name-input:active, .project-name-input:focus {
    border: 2px solid var(--font-main-color);

}

.add-book-btn {
    background-color: rgb(6, 123, 6);
    border: 1px solid var(--container-main-color);
    transition: var(--transition-main);
}

.close-add-project {
    background-color: rgb(178, 11, 11);
    border: 1px solid var(--container-main-color);
    transition: var(--transition-main);
}

.add-book-btn, .close-add-project {
    border-radius: 8px;
}

.add-book-btn:hover, .close-add-project:hover {
    transform: translateY(-2.5%);
    cursor: pointer;
    border-bottom: 2px solid var(--font-main-color);
}

/* content container styling */

.content-main {
    grid-area: content;
    background-color: var(--subcontainer-main-color);
    box-shadow: var(--shadow-alt);
    margin-right: .5rem;
    border-bottom: 2px solid var(--font-main-color);
}

.footer {
    grid-area: footer;
    background-color: var(--container-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    letter-spacing: .2rem;
    box-shadow: var(--shadow-alt);
}

.footer a {
    transition: var(--transition-main);
    margin-left: .25rem;
    text-decoration: none;
}

.footer a:hover {
    transform: translateY(-10%); 
    letter-spacing: .3rem;
    color: var(--container-alt-color);
}

